/*可以在这里添加你自己的css*/
.view{
    position: relative;
    overflow: auto !important;
    max-height: 345px !important;
}
::-webkit-scrollbar{
    display: none;
    opacity: 0;
    width: 0;
}
body {
    margin: 0;
}

section img {
    max-width: 100%;
}
