@charset "UTF-8";
.header {
  background-color: #fff;
  padding-left: 20px;
  height: 100%;
  line-height: 56px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.header .current-menu {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  cursor: default;
}

.header .user-info {
  cursor: pointer;
}

.header .user-info .icon {
  color: #999;
  vertical-align: middle;
  font-size: 12px;
}

.header .user-info .name {
  margin: 0 6px;
  vertical-align: middle;
  font-size: 14px;
}

.header .user-info .avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.header .help-serve-box {
  width: 216px;
  margin-left: 16px;
  display: flex;
  padding-right: 24px;
}

.header .help-serve-box .icon-box {
  padding: 0 10px;
  display: inline-block;
  height: 100%;
}

.header .help-serve-box .help-box {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header .d-flex-lr {
  display: flex;
}

.header .pl8 {
  padding-left: 8px;
}

.header .pr60 {
  padding-right: 60px;
}

.header .v-mid {
  vertical-align: middle;
}

.header .help-pop {
  width: 230px;
  padding: 0 10px 20px;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 180;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.header .help-search {
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  padding-bottom: 20px;
  line-height: normal;
}

.header .help-center {
  font-size: 16px;
  line-height: 20px;
  color: #2589ff;
  padding: 16px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  border-top: 1px solid rgba(112, 112, 112, 0.1);
  cursor: pointer;
}

.header .help-center:hover {
  color: #51a1ff;
}

.header .help-contact {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  border: 1px solid #1890ff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #2589ff;
  cursor: pointer;
  transition: background .3s;
}

.header .help-contact:hover {
  background: #e9f3ff;
}

.header .help-list {
  flex: 1;
  overflow-y: auto;
}

.header .help-list .help-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.header .help-list .help-item:last-child {
  border-bottom: 0;
}

.header .help-list .help-title {
  line-height: 22px;
  height: 22px;
  color: #333;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /*要显示的行数*/
  -webkit-box-orient: vertical;
}

.header .help-list .help-description {
  line-height: 22px;
  margin-top: 10px;
  color: #666;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /*要显示的行数*/
  -webkit-box-orient: vertical;
}

.header .help-list .look-more {
  margin-top: 10px;
  color: #2589ff;
  line-height: 20px;
  cursor: pointer;
}

.header .help-list .look-more:hover {
  color: #51a1ff;
}

.header .search-pop-input .el-input__inner {
  cursor: text;
  background-color: #FFF;
  background-color: #FFF;
  border-color: #DCDFE6;
}

.help-center-search-dialog {
  background: transparent;
}

.help-center-search-dialog .el-dialog__header {
  padding: 0;
  display: none;
}

.help-center-search-dialog .el-dialog__body {
  padding: 0;
}

.help-center-search-dialog .search-btn {
  width: 180px;
  height: 60px;
  border-radius: 0;
  border-radius: 0 2px 2px 0;
  font-size: 20px;
}

.help-center-search-dialog .search-contcat-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-center-search-dialog .search-input {
  border: 1px solid rgba(112, 112, 112, 0.16);
  width: 720px;
  height: 60px;
  padding: 0 40px;
  border-radius: 2px 0 0 2px;
  font-size: 20px;
}

.header-dropdown {
  padding: 10px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.header-dropdown .dropdown-list {
  list-style: none;
}

.header-dropdown .dropdown-list .item {
  padding: 16px;
  line-height: 16px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #EEF3FF;
}

.header-dropdown .dropdown-list .item:hover {
  background-color: #2589FF;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.header-dropdown .dropdown-list .item:hover .phone {
  color: #fff;
}

.header-dropdown .dropdown-list .item:last-child {
  border: 0;
}

.header-dropdown .dropdown-list .item .item-title {
  font-size: 14px;
  font-weight: bold;
}

.header-dropdown .dropdown-list .item .icon {
  font-size: 12px;
}

.header-dropdown .dropdown-list .item .phone {
  margin-right: 5px;
  font-size: 12px;
  color: #999;
}

.header-dropdown .logout-box {
  background: #f8f8f8;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  cursor: pointer;
  border-radius: 4px;
}

.header-dropdown .logout-box:hover {
  background-color: #f1f1f1;
}

.header-dropdown .logout-box .item-title {
  font-size: 12px;
  color: #333;
  vertical-align: middle;
}

.header-dropdown .logout-box .icon {
  font-size: 16px;
  vertical-align: middle;
  color: #999;
}

.chrome-tips-dialog {
  line-height: normal;
}

.chrome-tips-dialog .el-dialog__title {
  font-weight: bold;
}

.chrome-tips-dialog .el-dialog__body {
  padding: 0 !important;
}

.chrome-tips-dialog .el-dialog__footer {
  padding: 0 0 10px;
}

.chrome-tips-dialog .dialog-body {
  padding: 15px 60px 30px;
}

.chrome-tips-dialog .warning-icon {
  font-size: 16px;
  color: #FF5050;
  margin-top: 4px;
}

.chrome-tips-dialog .dialog-btn {
  display: inline-block;
  width: 136px;
  height: 32px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  transition: all .2s;
}

.chrome-tips-dialog .dialog-btn .text {
  transition: all .2s;
}

.chrome-tips-dialog .dialog-btn + .dialog-btn {
  margin-left: 20px;
}

.chrome-tips-dialog .dialog-btn.cancel-btn {
  border-color: rgba(0, 0, 0, 0.15);
  color: #666;
}

.chrome-tips-dialog .dialog-btn.cancel-btn:hover {
  border-color: #1890FF;
  color: #1890FF;
}

.chrome-tips-dialog .dialog-btn.confirm-btn {
  border-color: #1890FF;
  color: #1890FF;
}

.chrome-tips-dialog .dialog-btn:hover {
  background: #e9f3ff;
}
