.image-manage-dialog {
  .el-dialog__header {
    padding: 0;
    height: 56px;
    line-height: 56px;
    box-shadow:0px 1px 0px rgba(0,0,0,0.16);
    position: relative;
    z-index: 9;
    .el-dialog__title {
      color: #333;
      font-size: 16px;
    }
  }
  .el-dialog__body {
    padding: 0;
  }
  .image-manage-tabs {
    float: left;
    height: 500px;
    width: 160px;
    overflow-y: auto;
  }
  .tabs-list {
    padding: 0;
    list-style: none;
    .item {
      height: 48px;
      line-height: 48px;
      position: relative;
      cursor: pointer;
      transition: all .3s;
      &:hover, &.active {
        background: #FAFBFF;
        .item-name {
          color: #1890FF;
        }
      }
      .item-show-box {
        // padding-left: 32px;
        user-select: none;
      }
      .item-edit-box {
        padding: 0 10px;
      }
      .edit-group-box {
        position: relative;
        width: 100%;
        height: 40px;
        padding-top: 8px;
      }
      .confirm-btn {
        position: absolute;
        top: 8px;
        right: 0;
        width: 32px;
        height: 32px;
        display: block;
        text-align: center;
        font-size: 0;
        .icon {
          line-height: 32px;
          font-size: 18px;
          font-weight: bold;
          color: #409EFF;
        }
      }
      .edit-group-input {
        vertical-align: top;
        width: 100%;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        padding: 0 5px;
        outline: 0;
      }
      .item-name {
        padding-left: 32px;
        font-size: 14px;
        color: #666;
        text-align: left;
        font-family: 'PingFang SC';
        transition: all .3s;
        display: inline-block;
        min-width: 70px;
      }
      &:hover {
        .opt-btn-box {
          display: block;
        }
      }
      .opt-btn-box {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 48px;
        padding-right: 10px;
        font-size: 0;
        padding-top: 14px;
      }
      .opt-btn {
        display: inline-block;
        margin-right: 2px;
        width: 20px;
        height: 20px;
        border: 0;
        background: transparent;
        text-align: center;
        vertical-align: top;
        .icon {
          font-size: 14px;
          color: #666;
          &:hover {
            color: #1890FF;
          }
        }
      }
    }
  }
  .image-manage-cont {
    padding: 16px 20px 16px 180px;
    height: 500px;
    .opt-box  {
      height: 32px;
      line-height: 32px;
      margin-bottom: 16px;
    }
    .batch-edit-btn {
      padding: 0 5px;
      height: 32px;
      margin-right: 15px;
      &:hover {
        .batch-edit-icon {
          opacity: .9;
        }
      }
    }
    .batch-edit-icon {
      display: inline-block;
      width: 12px;
      height: 13px;
      background-image: url('https://cdn.xingchen.cn/FsnHYNgZQssPOSTrHAQRk1JrWh-9');
      background-size: 12px 13px;
      vertical-align: bottom;
    }
    .btn-box {
      display: inline-block;
      margin-left: 15px;
      .el-button--text {
        padding: 8px 0;
      }
      .el-divider {
        background-color: #409EFF;
      }
    }
    .pagetion-box {
      text-align: right;
    }
  }
  .image-list {
    margin-right: -20px;
    height: 390px;
    .item {
      width: 80px;
      cursor: pointer;
      margin-bottom: 20px;
      margin-right: 20px;
      float: left;
      &:hover {
        .img-box {
          .delete-btn {
            display: block;
          }
        }
      }
    }
    .img-box {
      height: 80px;
      position: relative;
      background-color: #D0E9FF;
      .delete-btn {
        display: none;
        cursor: pointer;
        position: absolute;
        top: -8px;
        right: -8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        background: #666;
        font-size: 0;
        transition: all .5s;
        &:hover {
          opacity: .95;
        }
        .icon {
          font-size: 12px;
          line-height: 16px;
          color: #fff;
        }
      }
      .checked-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 24px;
        height: 24px;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 24px 24px;
          border-color: transparent transparent #258bff transparent;
        }
        .icon {
          color: #fff;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 16px;
        }
      }
    }
    .img-name {
      margin-top: 10px;
      line-height: 20px;
      height: 20px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .image-manage-footer {
    text-align: center;
    padding: 20px 0 50px;
    position: relative;
    .el-button {
      padding: 0;
      height: 32px;
      width: 120px;
    }
    .create-group {
      position: absolute;
      left: 20px;
      color: #409EFF;
      border-color: #409EFF;
    }
  }
  .back-list-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
    color: #2589FF;
    cursor: pointer;
    .icon {
      font-size: 18px;
      font-weight: bold;
      vertical-align: middle;
      line-height: 56px;
    }
    .name {
      vertical-align: middle;
      line-height: 56px;
      margin-left: 3px;
    }
  }
  .inage-upload-box {
    padding: 30px 25px 10px 80px;
    .form-group-item {
      position: relative;
      line-height: 32px;
      margin-bottom: 30px;
      .form-label {
        float: left;
        width: 85px;
        text-align: right;
      }
      .form-ctrl {
        padding-left: 90px;
      }
      .choose-group-warning {
        position: absolute;
        bottom: -25px;
        line-height: 25px;
        height: 25px;
        left: 90px;
        color: #F56C6C;
      }
    }
    .upload-tips {
      line-height: 20px;
      height: 20px;
      color: #999;
    }
    .image-uploader {
      text-align: center;
      line-height: 80px;
      color: #2589FF;
    }
  }
}
.image-manage-checked-tips {
  color: #999;
  .checked-number {
    color: #409EFF;
  }
}
.image-move-pop {
  .confirm-btn {
    margin-left: 10px;
  }
  .cancel-btn {
    color: #999;
    &:hover {
      color: #999;
    }
  }
}
