.image-manage-dialog .el-dialog__header {
  padding: 0;
  height: 56px;
  line-height: 56px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 9;
}

.image-manage-dialog .el-dialog__header .el-dialog__title {
  color: #333;
  font-size: 16px;
}

.image-manage-dialog .el-dialog__body {
  padding: 0;
}

.image-manage-dialog .image-manage-tabs {
  float: left;
  height: 500px;
  width: 160px;
  overflow-y: auto;
}

.image-manage-dialog .tabs-list {
  padding: 0;
  list-style: none;
}

.image-manage-dialog .tabs-list .item {
  height: 48px;
  line-height: 48px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.image-manage-dialog .tabs-list .item:hover, .image-manage-dialog .tabs-list .item.active {
  background: #FAFBFF;
}

.image-manage-dialog .tabs-list .item:hover .item-name, .image-manage-dialog .tabs-list .item.active .item-name {
  color: #1890FF;
}

.image-manage-dialog .tabs-list .item .item-show-box {
  user-select: none;
}

.image-manage-dialog .tabs-list .item .item-edit-box {
  padding: 0 10px;
}

.image-manage-dialog .tabs-list .item .edit-group-box {
  position: relative;
  width: 100%;
  height: 40px;
  padding-top: 8px;
}

.image-manage-dialog .tabs-list .item .confirm-btn {
  position: absolute;
  top: 8px;
  right: 0;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  font-size: 0;
}

.image-manage-dialog .tabs-list .item .confirm-btn .icon {
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  color: #409EFF;
}

.image-manage-dialog .tabs-list .item .edit-group-input {
  vertical-align: top;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  padding: 0 5px;
  outline: 0;
}

.image-manage-dialog .tabs-list .item .item-name {
  padding-left: 32px;
  font-size: 14px;
  color: #666;
  text-align: left;
  font-family: 'PingFang SC';
  transition: all .3s;
  display: inline-block;
  min-width: 70px;
}

.image-manage-dialog .tabs-list .item:hover .opt-btn-box {
  display: block;
}

.image-manage-dialog .tabs-list .item .opt-btn-box {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  padding-right: 10px;
  font-size: 0;
  padding-top: 14px;
}

.image-manage-dialog .tabs-list .item .opt-btn {
  display: inline-block;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  border: 0;
  background: transparent;
  text-align: center;
  vertical-align: top;
}

.image-manage-dialog .tabs-list .item .opt-btn .icon {
  font-size: 14px;
  color: #666;
}

.image-manage-dialog .tabs-list .item .opt-btn .icon:hover {
  color: #1890FF;
}

.image-manage-dialog .image-manage-cont {
  padding: 16px 20px 16px 180px;
  height: 500px;
}

.image-manage-dialog .image-manage-cont .opt-box {
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px;
}

.image-manage-dialog .image-manage-cont .batch-edit-btn {
  padding: 0 5px;
  height: 32px;
  margin-right: 15px;
}

.image-manage-dialog .image-manage-cont .batch-edit-btn:hover .batch-edit-icon {
  opacity: .9;
}

.image-manage-dialog .image-manage-cont .batch-edit-icon {
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url("https://cdn.xingchen.cn/FsnHYNgZQssPOSTrHAQRk1JrWh-9");
  background-size: 12px 13px;
  vertical-align: bottom;
}

.image-manage-dialog .image-manage-cont .btn-box {
  display: inline-block;
  margin-left: 15px;
}

.image-manage-dialog .image-manage-cont .btn-box .el-button--text {
  padding: 8px 0;
}

.image-manage-dialog .image-manage-cont .btn-box .el-divider {
  background-color: #409EFF;
}

.image-manage-dialog .image-manage-cont .pagetion-box {
  text-align: right;
}

.image-manage-dialog .image-list {
  margin-right: -20px;
  height: 390px;
}

.image-manage-dialog .image-list .item {
  width: 80px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}

.image-manage-dialog .image-list .item:hover .img-box .delete-btn {
  display: block;
}

.image-manage-dialog .image-list .img-box {
  height: 80px;
  position: relative;
  background-color: #D0E9FF;
}

.image-manage-dialog .image-list .img-box .delete-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background: #666;
  font-size: 0;
  transition: all .5s;
}

.image-manage-dialog .image-list .img-box .delete-btn:hover {
  opacity: .95;
}

.image-manage-dialog .image-list .img-box .delete-btn .icon {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.image-manage-dialog .image-list .img-box .checked-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 24px;
  height: 24px;
}

.image-manage-dialog .image-list .img-box .checked-icon::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 24px 24px;
  border-color: transparent transparent #258bff transparent;
}

.image-manage-dialog .image-list .img-box .checked-icon .icon {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
}

.image-manage-dialog .image-list .img-name {
  margin-top: 10px;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-manage-dialog .image-manage-footer {
  text-align: center;
  padding: 20px 0 50px;
  position: relative;
}

.image-manage-dialog .image-manage-footer .el-button {
  padding: 0;
  height: 32px;
  width: 120px;
}

.image-manage-dialog .image-manage-footer .create-group {
  position: absolute;
  left: 20px;
  color: #409EFF;
  border-color: #409EFF;
}

.image-manage-dialog .back-list-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 56px;
  padding-left: 20px;
  font-size: 16px;
  color: #2589FF;
  cursor: pointer;
}

.image-manage-dialog .back-list-view .icon {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 56px;
}

.image-manage-dialog .back-list-view .name {
  vertical-align: middle;
  line-height: 56px;
  margin-left: 3px;
}

.image-manage-dialog .inage-upload-box {
  padding: 30px 25px 10px 80px;
}

.image-manage-dialog .inage-upload-box .form-group-item {
  position: relative;
  line-height: 32px;
  margin-bottom: 30px;
}

.image-manage-dialog .inage-upload-box .form-group-item .form-label {
  float: left;
  width: 85px;
  text-align: right;
}

.image-manage-dialog .inage-upload-box .form-group-item .form-ctrl {
  padding-left: 90px;
}

.image-manage-dialog .inage-upload-box .form-group-item .choose-group-warning {
  position: absolute;
  bottom: -25px;
  line-height: 25px;
  height: 25px;
  left: 90px;
  color: #F56C6C;
}

.image-manage-dialog .inage-upload-box .upload-tips {
  line-height: 20px;
  height: 20px;
  color: #999;
}

.image-manage-dialog .inage-upload-box .image-uploader {
  text-align: center;
  line-height: 80px;
  color: #2589FF;
}

.image-manage-checked-tips {
  color: #999;
}

.image-manage-checked-tips .checked-number {
  color: #409EFF;
}

.image-move-pop .confirm-btn {
  margin-left: 10px;
}

.image-move-pop .cancel-btn {
  color: #999;
}

.image-move-pop .cancel-btn:hover {
  color: #999;
}
