/*
* 门店管理 start
*/
.store-manage {
  padding: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .serach-input-box {
    display: inline-block;
    height: 32px;
    width: 224px;
    position: relative;
    padding-right: 31px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    .search-input {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      background: transparent;
      padding: 0 8px;
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 31px;
      background: transparent;
      border: 0;
      outline: 0;
      text-align: center;
      &:hover {
        .icon {
          color: #666;
        }
      }
      .icon {
        color: #999;
        font-size: 16px;
      }
    }
  }
  .create-tips {
    color: #999;
    line-height: 20px;
    margin: 8px 0 16px;
    .qrcode-tips {
      color: #2589FF;
      cursor: pointer;
      vertical-align: text-bottom;
    }
  }
  .table-box {
    flex: 1;
    overflow: hidden;
    min-height: 300px;
  }
  .pagetion-box {
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: right;
  }
}
/*
* 门店管理 end
*/


/*
* 创建门店 start
*/
.create-shop {
  padding: 16px 16px 66px;
  height: 100%;
  position: relative;
  .scroll-box {
    height: 100%;
    overflow-x: hidden;
  }
  .footer-box {
    position: absolute;
    height: 50px;
    padding-top: 9px;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #fff;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
  }
  .page-title {
    line-height: 22px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .max-width-640 {
    max-width: 640px;
  }
  .el-date-editor .el-range-separator {
    box-sizing: content-box;
  }
  .pic-list {
    .item {
      float: left;
      width: 90px;
      height: 90px;
      position: relative;
      margin-right: 20px;
      &.add-item {
        line-height: 90px;
        text-align: center;
        color: #2589FF;
        background: #D0E9FF;
        cursor: pointer;
      }
    }
    .del-btn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius:0px 0px 0px 30px;
      background:rgba(0,0,0,0.5);
      text-align: right;
      font-size: 0;
      cursor: pointer;
      &:hover {
        background:rgba(0,0,0,0.6);
      }
      .icon {
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        vertical-align: top;
      }
    }
  }
  .form-tips {
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
    color: #999;
  }
  .search-addr-btn {
    margin-left: 20px;
    width: 80px;
  }
  .map-container {
    margin-top: 16px;
  }
}
/*
* 创建门店 end
*/

/*
* 门店核销员 列表 start
*/
.shop-user {
  padding: 10px;
  .warning-alert {
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    background: #FFEFEF;
    padding: 0 10px;
    .text, .icon {
      color: #FF5050;
      margin-right: 5px;
    }
  }
  .serach-input-box {
    margin-bottom: 16px;
    display: inline-block;
    height: 32px;
    width: 224px;
    position: relative;
    padding-right: 31px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    .search-input {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      background: transparent;
      padding: 0 8px;
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 31px;
      background: transparent;
      border: 0;
      outline: 0;
      text-align: center;
      &:hover {
        .icon {
          color: #666;
        }
      }
      .icon {
        color: #999;
        font-size: 16px;
      }
    }
  }
  .pagetion-box {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: right;
  }
}
/*
* 门店核销员 列表 end
*/
.custom-table-style {
  &.el-table th {
    background: #FAFBFF;
  }
  &.el-table th>.cell {
    font-weight: 500;
    color: #666;
  }
  &.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #FAFBFF;
  }
  &.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #F5F7FA;
  }
  &.el-table td, .el-table th.is-leaf {
    border: 0;
  }
}


/*
* 门店核销员 新建、编辑 start
*/
.edit-shop-user {
  padding: 16px;
  .page-title {
    line-height: 22px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .max-width-640 {
    max-width: 640px;
  }
  .form-tips {
    margin-top: 10px;
    line-height: 20px;
    color: #999;
  }
}
/*
* 门店核销员 新建、编辑 end
*/


/*
* 平台设置 start
*/
.paltform-setting {
  padding: 10px;
  min-width: 700px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .paltform-setting-tabs {
    .el-tabs__item {
      padding: 0;
      width: 120px;
      text-align: center;
    }
  }
  .tabs-box {
    padding: 24px;
    flex: 1;
    overflow-x: hidden;
  }
  .footer-box {
    position: absolute;
    height: 50px;
    padding-top: 9px;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #fff;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
  }
  .form-group-item {
    margin-bottom: 10px;
    .form-label {
      float: left;
      line-height: 32px;
      height: 32px;
      font-weight: 500;
      width: 100px;
      text-align: right;
    }
    .form-ctrl {
      line-height: 32px;
      height: 32px;
      padding-left: 110px;
    }
    .v-mid {
      vertical-align: middle;
    }
    .v-top {
      vertical-align: top;
    }
    .blue-text-btn, .grey-text-btn, .red-text-btn {
      height: 32px;
      padding: 0 12px;
      background:transparent;
      border: 0;
    }
    .blue-text-btn {
      color: #2589FF;
    }
    .grey-text-btn {
      color: #999;
    }
    .red-text-btn {
      color: #FF5050;
      padding-left: 5px;
    }
    .reject-icon {
      font-size: 16px;
      color: #FF5050;
      vertical-align: middle;
    }
  }
  .tips-icon {
    color: #2589FF;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .logo-uploader {
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    overflow: hidden;
    .upload-box {
      background: #E7F4FF;
      width: 100%;
      height: 100%;
      position: relative;
      .img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .change-tips {
        display: block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background:rgba(0,0,0,0.6);
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        opacity: 0.6;
        font-size: 12px;
      }
    }
  }
  .agreement-tips {
    line-height: 20px;
    height: 20px;
    color: #999;
    margin: 8px 0 16px;
  }
  .agreement-btn-box {
    width: 900px;
    margin-top: 50px;
    padding-bottom: 30px;
    .el-button+.el-button {
      margin-left: 20px;
    }
  }
}
/*
* 平台设置 end
*/


/*
* 个人、企业认证 satart
*/
.certification {
  padding: 10px;
  .certification-tabs {
    .el-tabs__item {
      padding: 0;
      width: 120px;
      text-align: center;
    }
  }
  .item-title {
    height: 32px;
    line-height: 32px;
    position: relative;
    background: #FAFBFF;
    padding: 0 14px;
    margin-bottom: 16px;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 16px;
      background: #2589FF;
      position: absolute;
      top: 8px;
      left: 0;
    }
    .main-title {
      font-weight: bold;
    }
    .sub-title {
      color: #999;
      margin-left: 10px;
    }
  }
  .form-tips {
    line-height: 20px;
    color: #999;
    margin-top: 5px;
  }
  .max-width-640 {
    max-width: 640px;
  }
  .pic-uploader {
    width: 160px;
    height: 90px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    .pic-upload-box {
      width: 160px;
      height: 90px;
      background: #D0E9FF;
      text-align: center;
      position: relative;
      .upload-tips {
        line-height: 90px;
        color: #2589FF;
      }
      .img {
        width: 100%;
        height: 100%;
      }
      .delete-btn {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width:20px;
        height:20px;
        background:rgba(0,0,0,0.5);
        opacity:1;
        border-radius:0px 0px 0px 30px;
        line-height: 20px;
        font-size: 0;
        text-align: right;
        cursor: pointer;
        .icon {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .btn-box {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}
.certification-tips-dialog {
  .el-dialog__title {
    font-size: 16px;
    font-weight: bold;
    color: #666;
  }
  .dialog-body {
    text-align: center;
    padding: 14px 0;
  }
  .el-dialog__body {
    padding: 0;
  }
  .tips-icon {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
  .tips-text {
    line-height: 22px;
    color: #666;
  }
  .el-dialog__footer {
    padding-bottom: 50px;
  }
}
/*
* 个人、企业认证 end
*/


/*
* 个人、企业认证详情 start
*/
.certification-details {
  .main-title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
  }
  .alert-box {
    height: 40px;
    background: #FFEFEF;
    padding: 0 10px;
    line-height: 40px;
    margin-bottom: 20px;
    .icon {
      font-size: 16px;
      color: #FF5050;
      margin-right: 5px;
    }
    .alert-text {
      color: #943232;
    }
  }
  .pic-uploader {
    width: 160px;
    height: 90px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    .pic-upload-box {
      width: 160px;
      height: 90px;
      background: #D0E9FF;
      text-align: center;
      position: relative;
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &.paltform-setting .form-group-item .form-label {
    width: 130px;
  }
  &.paltform-setting .form-group-item .form-ctrl {
    padding-left: 140px;
  }
}
/*
* 个人、企业认证详情 end
*/