.goods-selector {
  .el-dialog__title {
    font-size: 16px;
    color: #333;
  }
  .el-dialog__body {
    padding: 0 16px;
  }
  .search-input {
    width: 224px;
    margin-left: 16px;
  }
  .opt-box {
    margin-bottom: 16px;
    .el-button {
      padding: 0;
      height: 32px;
      &.add-btn {
        width: 120px;
      }
      &.refires-btn {
        width: 56px;
      }
      &+.el-button {
        margin-left: 16px;
      }
    }
    .el-input__inner {
      height: 32px;
      line-height: 32px;
    }
    .el-input__icon {
      line-height: 32px;
    }
  }
  .group-type-select {
    width: 136px;
  }
  .el-table th {
    padding: 8px 0;
    background: #f8f8f8;
    color: #666;
    font-weight: 500;
  }
  .el-image {
    vertical-align: middle;
  }
  .el-table td {
    padding: 7px 0;
    color: #666;
  }
  .el-table-column--selection .cell {
    padding-right: 0;
  }
  .el-table th>.cell {
    padding-left: 14px;
  }
  tr:nth-child(even) td {
    background: #F8F8F8;
  }
  .pagetion-box {
    text-align: right;
  }
}