.goods-selector .el-dialog__title {
  font-size: 16px;
  color: #333;
}

.goods-selector .el-dialog__body {
  padding: 0 16px;
}

.goods-selector .search-input {
  width: 224px;
  margin-left: 16px;
}

.goods-selector .opt-box {
  margin-bottom: 16px;
}

.goods-selector .opt-box .el-button {
  padding: 0;
  height: 32px;
}

.goods-selector .opt-box .el-button.add-btn {
  width: 120px;
}

.goods-selector .opt-box .el-button.refires-btn {
  width: 56px;
}

.goods-selector .opt-box .el-button + .el-button {
  margin-left: 16px;
}

.goods-selector .opt-box .el-input__inner {
  height: 32px;
  line-height: 32px;
}

.goods-selector .opt-box .el-input__icon {
  line-height: 32px;
}

.goods-selector .group-type-select {
  width: 136px;
}

.goods-selector .el-table th {
  padding: 8px 0;
  background: #f8f8f8;
  color: #666;
  font-weight: 500;
}

.goods-selector .el-image {
  vertical-align: middle;
}

.goods-selector .el-table td {
  padding: 7px 0;
  color: #666;
}

.goods-selector .el-table-column--selection .cell {
  padding-right: 0;
}

.goods-selector .el-table th > .cell {
  padding-left: 14px;
}

.goods-selector tr:nth-child(even) td {
  background: #F8F8F8;
}

.goods-selector .pagetion-box {
  text-align: right;
}
